@import "tailwindcss";

@theme {
    --font-sans: "Fraunces", system-ui, sans-serif;
    --color-background: #e6cfb5;
    --color-card: #f5e9d4;
    /* --color-foreground: #552200; */
}

body {
    @apply bg-background;
}