<div class="login-container">
  <h1>Login</h1>
  <%= link_to "/auth/slack", method: :post, class: "slack-login-btn" do %>
    <img src="https://api.slack.com/img/sign_in_with_slack.png" alt="Sign in with Slack" />
  <% end %>
</div>